 {% extends "layout.html" %}
{% block title %}
help
 {% endblock %}
 {% block content %}
<p id="presentation">
        Cette plateforme web de Supply Track permet d’organiser les données opérationnelles,
        d’afficher des analyses détaillées et de générer des rapports décisionnels. Elle a été
        développée par des étudiants de l'EMINES, promotion 2028, et conçue spécialement pour l’OCP
        afin d’améliorer le suivi des processus et l’efficacité opérationnelle.
    </p>
    <h3 id='title'>
        Contactez nous :
    </h3>
    <div class="team-container">
    
    <div id="employee-01" class="team-member-card">
        <h3>Mohamed Amine OUBELLA</h3>
        <p>Responsable front-end et gestion Django.</p>
        <a href="mailto:mohamed.OUBELLA@emines.um6p.ma" class="outlook-button">Contact via Outlook</a>
    </div>

    <div id="employee-02" class="team-member-card">
        <h3>Youssef CHAKHCHAKH</h3>
        <p>Responsable back-end et gestion Django.</p>
        <a href="mailto:Youssef.CHAKHCHAKH@emines.um6p.ma" class="outlook-button">Contact via Outlook</a>
    </div>

    <div id="employee-03" class="team-member-card">
        <h3>Ikram EL ASSAM</h3>
        <p>Responsable back-end et gestion Django.</p>
        <a href="mailto:Ikram.ELASSAM@emines.um6p.ma" class="outlook-button">Contact via Outlook</a>
    </div>

</div>
 {% endblock %}